.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col {
    flex-grow: 1;
}
