.section-sm {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-md {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-lg {
    padding-top: 90px;
    padding-bottom: 90px;
}

.section-full {
    height: 100vh;
}

.section-full-nav {
    height: calc(100vh - 100px);
}
