@charset "utf-8";

* {
    @import url('https://fonts.googleapis.com/css?family=Poppins:400|Poppins:400');
    font-family: 'Poppins', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
}
